@model ProyectoJardineria.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Ver detalles de un empleado</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NacimientoEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NacimientoEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateralidadEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateralidadEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngresoEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngresoEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioEmpleado)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
