@model IEnumerable<ProyectoJardineria.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NacimientoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateralidadEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngresoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioEmpleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NacimientoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LateralidadEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngresoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioEmpleado)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CedulaEmpleado }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CedulaEmpleado })
            </td>
        </tr>
}
    </tbody>
</table>
